/*Footer*/
#footer {
   padding:95px 0;
   background-color:black;
}
/*Footer*/
#footer-container-for-info {
   display:flex;
   font-family: 'Nunito-Sans',sans-serif;
   color:white;
   font-size:15px;
}
#footer-rights {
   width:22%;
}
#footer-rights span:nth-child(1) {
   font-size:18px;
}
#rights {
   margin-top:2rem;
}
#footer-container-for-info address {
   font-style:normal;
   display: flex;
   flex-direction: column;
   margin-left: 200px;
}
.footer-links-block {
   display:flex;
   flex-direction: column;
   margin-left:56px;
}
.footer-links-block:nth-child(3n) {
   margin-left: 140px;
}
.footer-links {
   text-decoration: none;
   color: white;
}
