@import "common";
@import "nav";
@import "footer";
@import "example";
@import "form";



.contact {
  padding:100px 0;
  background-color: $secondary-gray-light;

  &__inner {
    display: flex;
    flex-wrap: wrap;

    &__content,&__form {
      flex-basis:50%;
    }



    &__content {
      padding-right: 120px;
      @media screen and (max-width: 1000px){
        padding-right: 0;
        text-align: center;
        flex-basis: 100%;
      }
    }

    &__form {
      @media screen and (max-width: 1000px){
        flex-basis: 80%;
        margin: 30px auto 0;
      }
    }


    &__title {
      margin-bottom: 30px;
    }

    &__text {
      margin-bottom: 40px;
    }

    &__google-map {
      flex-basis:100%;
      height:70vh;
      margin:40px auto 0;
      @media screen and (max-width: 1000px){
        width:100%;
        height:40vh;
      }
      @media screen and (max-height: 550px){
        height:70vh;
      }
    }
  }
}






