
.footer {
  padding: 100px 0;
  background-color: black;
  color:white;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    &__info {
      display: flex;
      flex-direction: column;
      &:not(:last-child),&:not(:first-child) {
        flex-grow: 1;
      }
      &:nth-child(2) {
        align-items: center;
        font-style: normal;
      }
      &:first-child {
        flex-basis: 25%;
      }
      &:first-child,&:last-child {
        flex-grow: 0;
      }


    //  Media footer


      &:nth-child(-n+2) {
        @media screen and (max-width:800px) {
          flex-basis: 50%;
        }
        @media screen and (max-width:450px) {
          flex-basis: 100%;
        }
      }
      &:nth-child(2) {
        @media screen and (max-width:450px) {
          margin-top: 30px;
          align-items: flex-start;
        }
      }
      &:nth-last-child(-n+3) {
        @media screen and (max-width:800px) {
          flex-grow: 0;
          flex-basis: 33%;
          margin-top:50px;
        }
      }
    }

    &__design {
      font-weight: 600;
      margin-bottom: 25px;
    }
    &__nav__item {
      color:white;
      font-family: $Nunito;
      &:not(:first-child) {
        margin-top:7px;
      }
    }
  }
}