@import "common";
@import "works";
@import "nav";
@import "footer";

.home {
  padding:100px 0;
  background-color: $secondary-gray-light;
  text-align: center;
  &__inner {
    &__text {
      max-width: 530px;
      margin-top:30px;
    }
  }
}