.top {
  padding:35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav {
  display: flex;
  align-items: center;

  &__item {
    font-size:12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left:2rem;
    cursor: pointer;

    &:hover {
      color:$main-color;
    }
  }
}