html,body {
   margin: 0;
   padding:0;
   width:100%;
   overflow-x:hidden;
}
* {
   font-family: 'Montserrat',sans-serif
}
.container {
   margin:0 auto;
   max-width:1170px;
   width:100%;
}


/*Project toggler*/
#project {
   padding:120px 0;
   position: relative;
}


/*Backgrounds*/
#project-backgrounds {
   position: absolute;
   z-index:-1;
   top:0;
   left:0;
   right:0;
   bottom: 0;
   display: flex;
}
.project-backgrounds-inner {
   width:50%;
   height:100%;
}
#first {
   background-color:rgb(246,246,246);
}
#second {
   background-image: url(../images/project/Breakfast_16c1e88ad2a_large.jpg);
   background-position: center;
   background-size:cover;
   background-repeat: no-repeat;
}
#about-project {
   width:37%;
}
#about-project-header {
   font-weight: bold;
   font-size:38px;
   margin:0 0 2.8rem 0;
}
.about-project-description {
   font-family:'Nunito-Sans',sans-serif;
   margin-top:0;
   line-height: 1.5;
}
.about-project-description.mg--little {
   margin-bottom:2.25rem;
}
.about-project-description.mg--big {
   margin-bottom: 3.5rem;
}
#about-project-details-block {
   display:flex;
   flex-direction: column;
}
.about-project-details {
   margin-bottom: 1.25rem;
   font-family: 'Nunito-Sans',sans-serif;
}
.about-project-details:last-child {
   margin-bottom: 0;
}









/*Toggler*/
#toggler-previous {
   padding:40px 0;
}
#toggler-previous-inner {
   display: flex;
   justify-content: space-between;
}
.toggle-label {
   text-transform: uppercase;
   font-size:12px;
   font-weight:500;
   display: flex;
   align-items: center;
   cursor: pointer;
}
.toggle-label img:nth-child(1) {
   margin-right: 10px;
}
.toggle-label img:nth-child(2) {
   margin-left: 10px;
}
#toggler-squares {
   display: flex;
   flex-flow:row wrap;
   justify-content: space-between;
   align-content: space-between;
   width:14px;
   height: 14px;
   cursor: pointer;
}
