body, html {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

button, input, textarea {
  outline: 0;
  offset: 0;
  border: none;
}

textarea {
  display: block;
  resize: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
}

.title {
  font-size: 25px;
}

.title__notbold {
  font-weight: 500;
}

.content {
  font-family: "Nunito Sans";
  line-height: 24px;
  width: 100%;
  margin: 0 auto;
}

.button {
  background-color: #10c9c3;
  padding: 20px 35px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.top {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}
.nav__item {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.nav__item:not(:first-child) {
  margin-left: 2rem;
}
.nav__item:hover {
  color: #10c9c3;
}

.burger__menu {
  display: none;
}
@media screen and (max-width: 800px) {
  .burger__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
}
.burger__bar {
  width: 100%;
  height: 2px;
  background-color: black;
}
.burger__content {
  position: relative;
  display: none;
}
.burger__content.active {
  display: block;
}
@media screen and (max-width: 800px) {
  .burger__content .nav {
    flex-direction: column;
    position: absolute;
    align-items: stretch;
    right: 0;
    top: 3px;
    border: 1px solid black;
    background-color: white;
    width: 250px;
  }
  .burger__content .nav__item {
    margin-left: 0;
    padding: 9px 5px 9px 0px;
    font-size: 18px;
    text-align: right;
  }
  .burger__content .nav__item:not(:last-child) {
    border-bottom: 1px solid black;
  }
}

.achievements {
  padding: 100px 0;
  background-color: #10c9c3;
}
@media screen and (max-width: 900px) {
  .achievements {
    padding: 50px 0;
  }
}
.achievements__inner {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 900px) {
  .achievements__inner {
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .achievements__inner {
    flex-direction: column;
  }
}
.achievements__inner__issue {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .achievements__inner__issue {
    flex-basis: 50%;
    margin-top: 15px;
  }
  .achievements__inner__issue:nth-child(odd) {
    justify-content: flex-end;
    padding-right: 20px;
  }
  .achievements__inner__issue:nth-child(even) {
    padding-left: 20px;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 500px) {
  .achievements__inner__issue:not(:first-child) {
    margin-top: 40px;
  }
  .achievements__inner__issue:nth-child(odd) {
    justify-content: flex-start;
    padding-right: 0px;
  }
  .achievements__inner__issue:nth-child(even) {
    padding-left: 0px;
    justify-content: flex-start;
  }
}
.achievements__inner__image {
  width: 40px;
  height: 36px;
  margin-left: 0;
}
.achievements__inner__multiply-labeles {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.achievements__inner__label {
  color: white;
  text-transform: uppercase;
}
.achievements__inner__label_number {
  font-weight: 500;
}
.achievements__inner__label:nth-child(2n) {
  margin-top: 2px;
}
@media screen and (max-width: 1100px) {
  .achievements__inner__label:nth-child(2n) {
    font-size: 13px;
  }
}

.footer {
  padding: 100px 0;
  background-color: black;
  color: white;
}
.footer__inner {
  display: flex;
  flex-wrap: wrap;
}
.footer__inner__info {
  display: flex;
  flex-direction: column;
}
.footer__inner__info:not(:last-child), .footer__inner__info:not(:first-child) {
  flex-grow: 1;
}
.footer__inner__info:nth-child(2) {
  align-items: center;
  font-style: normal;
}
.footer__inner__info:first-child {
  flex-basis: 25%;
}
.footer__inner__info:first-child, .footer__inner__info:last-child {
  flex-grow: 0;
}
@media screen and (max-width: 800px) {
  .footer__inner__info:nth-child(-n+2) {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 450px) {
  .footer__inner__info:nth-child(-n+2) {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 450px) {
  .footer__inner__info:nth-child(2) {
    margin-top: 30px;
    align-items: flex-start;
  }
}
@media screen and (max-width: 800px) {
  .footer__inner__info:nth-last-child(-n+3) {
    flex-grow: 0;
    flex-basis: 33%;
    margin-top: 50px;
  }
}
.footer__inner__design {
  font-weight: 600;
  margin-bottom: 25px;
}
.footer__inner__nav__item {
  color: white;
  font-family: "Nunito Sans";
}
.footer__inner__nav__item:not(:first-child) {
  margin-top: 7px;
}

.myself {
  padding: 120px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/backgrounds/4.jpg");
  position: relative;
}
.myself::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(47, 47, 47, 0.5);
}
.myself__inner {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}
.myself__inner__title {
  font-size: 38px;
  font-weight: 400;
}
@media screen and (max-width: 400px) {
  .myself__inner__title {
    font-size: 30px;
  }
}
.myself__inner__content {
  margin-top: 20px;
  max-width: 570px;
}

.about {
  padding: 100px 0;
  position: relative;
}
@media screen and (max-width: 700px) {
  .about {
    padding: 0 0;
  }
}
.about__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  bottom: 0;
  z-index: 0;
  background-color: #f5f5f5;
}
@media screen and (max-width: 700px) {
  .about__background {
    position: static;
    width: 100%;
    padding-top: 55%;
  }
}
.about__inner {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 700px) {
  .about__inner {
    justify-content: center;
  }
}
.about__inner__content {
  flex-basis: 50%;
  padding-left: 85px;
}
@media screen and (max-width: 850px) {
  .about__inner__content {
    padding-left: 55px;
  }
}
@media screen and (max-width: 700px) {
  .about__inner__content {
    margin-top: 30px;
    padding-left: 0;
    text-align: center;
    flex-basis: 80%;
  }
}
.about__inner__title {
  font-weight: 500;
}
.about__inner__text {
  margin-top: 45px;
}
.about__inner__text p {
  font-family: "Nunito Sans";
  line-height: 24px;
}
.about__inner__text p:nth-child(2) {
  margin-top: 25px;
}
.about__inner__image {
  margin-top: 35px;
}

.need-a-project {
  padding: 100px 0;
}
.need-a-project__inner {
  text-align: center;
}
.need-a-project__inner__title {
  font-weight: 500;
  margin-bottom: 35px;
}
.need-a-project__inner__text {
  max-width: 550px;
  margin-bottom: 50px;
}

/*# sourceMappingURL=about.css.map */
